.section--about {
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    margin: 3rem 0;
    padding: 3rem 0 3rem 15rem;

    .app--container {
        display: flex;
        height: 100%;
    }
}

.about--info {
    flex-basis: 40%;
    margin: 0 auto 0 0;
    box-sizing: border-box;
}

.my--picture {
    width: auto;
    display: block;
    margin: 0 auto;
    height: 55rem;
    border-radius: 2rem;
}

.about--title {
    color: $lightColor;
    text-align: left;
    font-size: 5rem;
    line-height: 5.5rem;
    font-weight: 500;
    font-family: 'Shrikhand', cursive;
    text-shadow: .6rem 3rem rgba(252, 250, 232, .1);
    position: relative;
}

.about--img--box {
    flex-basis: 50%;
    text-align: right;
    height: auto;
}

.section--bg {
    width: 140%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    background-color: $mainColor;
    opacity: .2;
    top: 57%;
    left: -13%;
    transform: rotate(13deg);
}

.about--info--text {
    color: $lightColor;
    font-size: 1.7rem;
    line-height: 2.4rem;
    font-family: 'Raleway', cursive;
    letter-spacing: .9px;

    strong {
        color: $mainColor;
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
    }
}

.about--link {
    background-color: transparent;
    padding: .7rem 0;
    text-align: center;
    color: $lightColor;
    font-size: 1.8rem;
    font-family: 'Raleway', cursive;
    position: relative;
    overflow: hidden;
    transition: .2s;
    z-index: 2;
    border-bottom: 1.5px solid $mainColor;
    display: block;
    width: 15rem;
    margin-top: 4rem;

    &::after {
        position: absolute;
        content: '';
        background-color: $mainColor;
        width: 10%;
        height: 10%;
        border-radius: 50%;
        right: -10%;
        bottom: -10%;
        transition: .2s;
        z-index: -1;
    }
}

.about--link:hover:after {
    width: 100%;
    border-radius: 0;
    bottom: 0;
    right: 0;
    height: 100%;
}

.about--link:hover {
    color: black;
}

@keyframes text {
    to {
        left: 100%;
    }
}

@media (max-width: 1650px) {
    .about--info {
        margin: 0;
    }
}