.section--about {
    width: 100%;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    margin: 3rem 0;
    padding: 3rem 0 3rem 15rem;
    
    .app--container {
        display: flex;
        height: 100%;
    }
}

.about--info {
    flex-basis: 40%;
    margin: 0 auto 0 0;
    box-sizing: border-box;
}

.my--picture {
    width: auto;
    display: block;
    margin: 0 auto;
    height: 55rem;
    border-radius: 2rem;
}

.about--title {
    color: $lightColor;
    text-align: left;
    font-size: 5rem;
    line-height: 5.5rem;
    font-weight: 500;
    font-family: $fontShrikhand;
    text-shadow: .6rem 3rem rgba(252, 250, 232, .1);
    position: relative;
}

.about--img--box {
    flex-basis: 50%;
    text-align: right;
    height: auto;
}

.section--bg {
    width: 140%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    background-color: $mainColor;
    opacity: .2;
    top: 57%;
    left: -13%;
    transform: rotate(13deg);
}

.about--info--text {
    color: $lightColor;
    font-size: 1.7rem;
    line-height: 2.4rem;
    font-family: $fontRaleway;
    letter-spacing: .9px;

    strong {
        color: $mainColor;
        font-family: $fontShrikhand;
        font-weight: 400;
    }
}

.about--link {
    --offset: 10px;
    --border-size: 1.5px;
    
    display: block;
    position: relative;
    padding: 1.5rem .9rem;
    appearance: none;
    border: 0;
    background: transparent;
    text-align: center;
    color: $lightColor;
    margin-top: 4rem;
    font-size: 1.8rem;
    font-family: $fontRaleway;
    font-weight: 500;
    border-radius: 0;
    width: 15rem;
    box-shadow: inset 0 0 0 1.5px $mainColor;
    transition: .3s ease;
    
    &:hover {
      background: $mainColor;
      color: black;
    }
    
    .horizontal,
    .vertical {
        position: absolute;
        top: var(--horizontal-offset, 0);
        right: var(--vertical-offset, 0);
        bottom: var(--horizontal-offset, 0);
        left: var(--vertical-offset, 0);
        transition: transform .8s ease;
        will-change: transform;
      
        &::before {
            content: '';
            position: absolute;
            border: inherit;
        }
    }
    
    .horizontal {
        --vertical-offset: calc(var(--offset) * -1);
        border-top: var(--border-size) solid $mainColor;
        border-bottom: var(--border-size) solid $mainColor;
      
        &::before {
            top: calc(var(--vertical-offset) - var(--border-size));
            bottom: calc(var(--vertical-offset) - var(--border-size));
            left: calc(var(--vertical-offset) * -1);
            right: calc(var(--vertical-offset) * -1);
        }
    }
    
    &:hover .horizontal {
        transform: scaleX(0);
    }
    
    .vertical {
        --horizontal-offset: calc(var(--offset) * -1);
        border-left: var(--border-size) solid $mainColor;
        border-right: var(--border-size) solid $mainColor;
      
        &::before {
            top: calc(var(--horizontal-offset) * -1);
            bottom: calc(var(--horizontal-offset) * -1);
            left: calc(var(--horizontal-offset) - var(--border-size));
            right: calc(var(--horizontal-offset) - var(--border-size));
        }
    }
    
    &:hover .vertical {
        transform: scaleY(0);
    } 
}

@keyframes text {
    to {
        left: 100%;
    }
}

@media (max-width: 1650px) {
    .about--info {
        margin: 0;
    }
}

@media #{$mobileScreen} {
    .section--about {
        padding: 2rem 0;
        
        .app--container {
            flex-direction: column;
        }
    }

    .about--info {
        width: 95%;
        padding: 0 1rem 2rem 1.5rem;
        margin: 0 auto;
    }

    .about--title {
        font-size: 4.1rem;
    }

    .about--img--box {
        width: 100%;
    }

    .my--picture {
        border-radius: 0;
    }
}