.section--contact {
    padding: 3rem 0 1rem 15rem;
    text-align: center;
    font-family: $fontRaleway;
}

.contact--title {
    color: $lightColor;
    font-size: 3rem;
    line-height: 3.5rem;
    margin-top: 2rem;
    padding: 0;
    margin-bottom: 2rem;
}

.contact--link--maile {
    color: $lightColor;
    font-size: 1.3rem;
}

.media--box {
    width: 40%;
    margin: 6rem auto 6rem auto;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
}

.contact--link {
    position: relative;
    height: 7rem;
    
    &:hover i {
        bottom: 1rem;
    }
    
    i {
        color: $mainColor;
        font-size: 2.5rem;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid $mainColor;
        position: absolute;
        bottom: 0;
        transition: .2s;
    }
}

.contact--copyright {
    width: 100%;
    text-align: center;
    color: $lightColor;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 0;
    opacity: .8;
}

@media #{$mobileScreen} {
    .section--contact {
        padding: 2rem 1rem 2rem 1.5rem;
        text-align: left;
    }

    .media--box {
        width: 100%;
    }

    .contact--link {
        width: 5.7rem;
    }
}

@media (max-width: 349px) {
    .contact--title {
        font-size: 2.2rem;
    }
}
