@import "./scss/variables.scss";
@import "./scss/reset";
@import "../components/navigation/navigation";
@import "./home/home";
@import "./header/header";
@import "./about/aboutMe";
@import "./cursor/cursor";
@import "./skills/skills";
@import "aos/dist/aos.css";
@import "./projects/projects";
@import "./contact/contact";


html {
    font-size: 10px;
}

// html, body {
//     cursor: none;
// }

body {
    width: 100%;
    background-color: black;
}

.app--container {
    max-width: 1600px;
    margin: 0 auto;
}

@media (min-width: 1350px) and (max-width: 1650px) {
    .app--container {
        width: 100%;
        padding-right: 2.5rem;
    }
}