@import "./scss/variables.scss";
@import "./scss/reset";
@import "../components/navigation/navigation";
@import "./scss/home";
@import "./header/header";
@import "./about/aboutMe";
@import "./cursor/cursor";
@import "./skills/skills";
@import "aos/dist/aos.css";


html {
    font-size: 10px;
}

body {
    width: 100%;
    background-color: black;
}

.app--container {
    max-width: 1400px;
    margin: 0 auto;
}

@media (max-width: 1300px) {
    .app--container {
        width: auto;
        padding: 0 2.5rem;
    }
}